aside{
   background-color: darkred;


}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.sidebar{
    flex-basis: 10rem;
    flex-grow: 0.2;
    min-height: 100vh;

    
    


}
.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    
    
}
.sidebar img{
    max-width: 200px;
    height: auto;
    
}
.sidebar img.rund-bild{
      max-width: 200px;
    height: 200px;
    display: block;
   object-fit: cover;
    border: 5px solid rgb(102, 4, 4);
     margin: 5px; auto 1rem auto ;
    border-radius: 100%;
}
.wrapper {
max-width: 50rem;
margin-right: auto;
margin-left: auto;

}

h1{
    color: rgb(175, 22, 22);
        text-align: center;

}
h2{
    color: rgb(155, 20, 20);
    font-size: 2.5rem;
}
p{
    color : rgb(0, 0, 0);
    font-size: 1.5rem;
}
li{
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
}